<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/layout">

<head>
<title>Add User</title>
</head>
<body>
	<div layout:fragment="pageHeader">
		<section class="content-header">
			<h1>New User</h1>
		</section>
	</div>

	<div layout:fragment="content">
		<div class="box box-warning">
			<div class="box-header with-header">
				<h3 class="box-title">Create New User</h3>
			</div>

			<div class="box-body">
				<form role="form" action="#" th:action="@{/add}" th:object="${user}"
					method="post">
					<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
						th:class="text-red">Incorect data</p>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('username')}? 'has-error'">
						<label th:if="${#fields.hasErrors('username')}"
							th:errors="*{username}" class="validation-message"></label> <input
							type="text" th:field="*{username}" placeholder="Username"
							class="form-control" />
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							class="validation-message"></label> <input type="text"
							th:field="*{name}" placeholder="Name" class="form-control" />
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
						<label th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastaName}" class="validation-message"></label> <input
							type="text" th:field="*{lastName}" placeholder="Last Name"
							class="form-control" />
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('email')}? 'has-error'">
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="validation-message"></label> <input type="text"
							th:field="*{email}" placeholder="Email" class="form-control" />
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('password')}? 'has-error'">
						<input type="password" th:field="*{password}"
							placeholder="Password" class="form-control" /><label
							th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
							class="validation-message"></label>
					</div>

					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>